
/***** Master Styles*****/
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
    font-family: 'Shippori Mincho', serif;
    margin: 0px;
}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;

}
.nav-links{
    display: flex;
    width: 30%;
    justify-content: space-around;
}
.nav-links li{
    list-style: none;
}


.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}







/*****Containers*****/







